.article-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  text-align: left;
  margin-top: 2rem;
}

@media screen and (min-width: 700px) {
  .article-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .article-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
